{% load static %}

<div class="bg-white text-black py-5">
    <div class="container">
        <h1 class="display-5 fw-bold : center" style="text-align: center">Portail du CND</h1>
        <p class="lead">
            Le CND collecte par le biais d’un « dépôt obligatoire » les documents inédits, la littérature grise et les documents publiés par les institutions financées en tout ou en partie par l’État et ce, conformément aux textes réglementaires en vigueur.
            De même, il acquiert par l'achat ou l'échange des documents produits par des éditeurs privés ou publiés à l’étranger.
        </p>
        <p class="lead">
            Afin d’identifier les sources productrices et/ou détentrices de documents et d’informations, et d’assurer une certaine exhaustivité en matière de collecte d’information, une campagne de sensibilisation est menée périodiquement auprès de ces sources, ce qui contribue positivement à l’augmentation en nombre et à la vérification des documents collectés.
        </p>
        <p class="lead">
            Aussi, cette base de données a été mise sur pied, permettant de bien gérer l’opération « collecte », de suivre le cheminement des lots de documents depuis leur arrivée au CND jusqu’au « dépôt obligatoire ».
        </p>
    </div>
</div>

