{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid px-2">

    <!-- Logo -->
    <a class="navbar " href="{% url 'home' %}">
      <img src="{% static 'img/cnd.gif' %}" alt="Logo" height="40" class="">
      <span class="text-black">Centre National de Documentation</span>
    </a>

    <!-- Bouton menu hamburger à gauche -->
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenu du menu -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="d-flex gap-3 ms-auto">
        <a href="{% url 'home' %}" class="btn btn-light btn-sm px-4 active">
            <i class="bi bi-folder-symlink "></i> Accueil
        </a>
        <a href="/collecte/" class="btn btn-light btn-sm px-4 active">
          <i class="bi bi-folder-symlink "></i> Collecte
        </a>
        <a href="/gestion/" class="btn btn-light btn-sm px-4 active">Gestion</a>
        <a href="/bilan/" class="btn btn-light btn-sm px-4 active">Bilan</a>
        <a href="/recherche/" class="btn btn-sm btn-light px-4 active">
          <i class="fas fa-search me-1"></i> Recherche
        </a>
      </div>
    </div>
  </div>
</nav>
