<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h2>Ajouter une entrée dans Collecte</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    <p><a href="{% url 'collecte_home' %}">Retour</a></p>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% endblock %}
</body>
</html>